body {
  padding-top: 50px; }

.zebra:nth-child(even) {
  background-color: #eee; }

.zebra:nth-child(even).bg-success {
  background-color: #d7e8d0; }

table.orders tr td {
  vertical-align: middle;
  height: 51px; }

.small-btn {
  margin: 0;
  padding: 4px 8px; }

.order-btn {
  margin-top: 25px;
  margin-left: 35px;
  font-size: 1.1em; }

.pad-left {
  margin-left: 35px; }

.well.well-light {
  background-color: #fff; }

@media screen and (max-width: 991px) {
  .order-btn {
    margin-top: 5px;
    margin-left: 0; } }

@media screen and (max-width: 767px) {
  .pad-left {
    margin-left: 0;
    margin-top: 20px; } }
